NEXT_PUBLIC_API_URL=http://127.0.0.1:8000
NEXT_PUBLIC_SITE_URL=https://reportdoctor-pk.vercel.app
NEXT_PUBLIC_CONTACT_EMAIL=hello@reportdoctor.pk
NEXT_PUBLIC_JAZZCASH_NUMBER=
NEXT_PUBLIC_EASYPAISA_NUMBER=03100906678
NEXT_PUBLIC_BANK_DETAILS=Available on WhatsApp
NEXT_PUBLIC_WHATSAPP_NUMBER=923100906678
